/* http://localhost:1843/packages/d3/sass/src/d3/Axis.scss:6 */
.x-d3-axis path,
.x-d3-axis line {
    /**
 * @class Ext.d3.Axis
 */
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
/* http://localhost:1843/packages/d3/sass/src/d3/Axis.scss:12 */
.x-d3-axis .x-d3-axis-title {
    font-weight: bold;
}
/* http://localhost:1843/packages/d3/sass/src/d3/Component.scss:6 */
.x-d3 svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    font-family: helvetica, arial, verdana, sans-serif;
}
/* http://localhost:1843/packages/d3/sass/src/d3/HeatMap.scss:5 */
.x-d3-heatmap {
    /**
 * @class Ext.d3.HeatMap
 */
    font: 12px sans-serif;
}
/* http://localhost:1843/packages/d3/sass/src/d3/HeatMap.scss:11 */
.x-d3-heatmap .x-d3-tile:hover rect {
    fill: #5fa2dd !important;
}
/* http://localhost:1843/packages/d3/sass/src/d3/HeatMap.scss:15 */
.x-d3-heatmap .x-d3-tile rect {
    shape-rendering: crispEdges;
}
/* http://localhost:1843/packages/d3/sass/src/d3/HeatMap.scss:18 */
.x-d3-heatmap .x-d3-tile text {
    fill: black;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: central;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/Hierarchy.scss:7 */
.x-d3-hierarchy .x-d3-node {
    /**
 * @class Ext.d3.hierarchy.Hierarchy
 */
    cursor: default;
    fill: #ddd;
    stroke: #314b8b;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/Hierarchy.scss:13 */
.x-d3-hierarchy .x-d3-node .x-d3-label {
    font-size: 1em;
    fill: black;
    stroke: none;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/Hierarchy.scss:20 */
.x-d3-hierarchy .x-d3-node.x-d3-parent {
    cursor: pointer;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/Hierarchy.scss:23 */
.x-d3-hierarchy .x-d3-node.x-d3-parent .x-d3-label {
    font-weight: bold;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/Hierarchy.scss:28 */
.x-d3-hierarchy .x-d3-node.x-d3-selected {
    fill: gold;
    stroke: red;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/Pack.scss:9 */
.x-d3-pack .x-d3-node .x-d3-label {
    /**
 * @class Ext.d3.hierarchy.Pack
 */
    font-size: 10px;
    fill: black;
    stroke: none;
    text-anchor: middle;
    alignment-baseline: middle;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/TreeMap.scss:7 */
.x-d3-treemap .x-d3-node {
    /**
 * @class Ext.d3.hierarchy.TreeMap
 */
    stroke-width: 1px;
    stroke: #779;
    fill: #99a;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/TreeMap.scss:13 */
.x-d3-treemap .x-d3-node.x-d3-parent .x-d3-label {
    fill: black;
    text-anchor: start;
    dominant-baseline: text-before-edge;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/TreeMap.scss:20 */
.x-d3-treemap .x-d3-node .x-d3-label {
    font-size: 1em;
    fill: black;
    stroke: none;
    text-anchor: middle;
    dominant-baseline: central;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/TreeMap.scss:29 */
.x-d3-treemap .x-d3-node.x-d3-selected {
    stroke: #779;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/partition/Sunburst.scss:7 */
.x-d3-sunburst .x-d3-node {
    /**
 * @class Ext.d3.hierarchy.partition.Sunburst
 */
    stroke: white;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/partition/Sunburst.scss:11 */
.x-d3-sunburst .x-d3-node.x-d3-root .x-d3-label {
    text-anchor: middle;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/partition/Sunburst.scss:16 */
.x-d3-sunburst .x-d3-node.x-d3-selected {
    stroke-width: 2;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/tree/Tree.scss:7 */
.x-d3-tree .x-d3-link {
    /**
 * @class Ext.d3.hierarchy.Tree
 */
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/tree/Tree.scss:13 */
.x-d3-tree .x-d3-node {
    stroke-width: 2px;
    stroke: #779;
    fill: #99a;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/tree/Tree.scss:18 */
.x-d3-tree .x-d3-node.x-d3-selected {
    stroke: red;
}
/* http://localhost:1843/packages/d3/sass/src/d3/hierarchy/tree/Tree.scss:23 */
.x-d3-tree .x-d3-label {
    font-size: 1em;
    fill: #000;
    stroke: none;
    dominant-baseline: middle;
}
/* http://localhost:1843/packages/d3/sass/src/d3/interaction/PanZoom.scss:1 */
.x-d3-scroll {
    display: none;
    position: absolute;
    background: none;
    z-index: 5;
}
/* http://localhost:1843/packages/d3/sass/src/d3/interaction/PanZoom.scss:8 */
.x-d3-hscroll {
    bottom: 0;
    width: 100%;
    height: 12px;
}
/* http://localhost:1843/packages/d3/sass/src/d3/interaction/PanZoom.scss:14 */
.x-d3-vscroll {
    right: 0;
    width: 12px;
    height: 100%;
}
/* http://localhost:1843/packages/d3/sass/src/d3/interaction/PanZoom.scss:21 */
.x-d3-scrollbar {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
}
/* http://localhost:1843/packages/d3/sass/src/d3/interaction/PanZoom.scss:26 */
.x-d3-hscrollbar {
    bottom: 4px;
    width: 100%;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
/* http://localhost:1843/packages/d3/sass/src/d3/interaction/PanZoom.scss:33 */
.x-d3-vscrollbar {
    right: 4px;
    width: 4px;
    height: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}